{% extends 'base.html' %}
{% load static %}
{% block content1 %}
	




	<div class="hero-wrap js-fullheight" style="background-image: url('/static/jobs/images/bg_1.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>

		<div class="container-fluid">


			
				
				<div class="vbox wb_container" id="wb_main">

					<div class="wb_cont_inner">
						<div id="wb_element_instance7" class="wb_element wb_text_element" data-plugin="TextArea"
							style=" line-height: normal;">
							<h4 class="wb-stl-pagetitle" style="text-align: center;"><span
									style="color:rgba(235,26,95,1);">We</span></h4>
						</div>
						<div id="wb_element_instance8" class="wb_element wb_text_element" data-plugin="TextArea"
							style=" line-height: normal;">
							<h4 class="wb-stl-pagetitle" style="text-align: center;"><span
									style="color:rgba(235,26,95,1);">Together</span></h4>
						</div>
						<div id="wb_element_instance9" class="wb_element wb_text_element" data-plugin="TextArea"
							style=" line-height: normal;">
							<h4 class="wb-stl-pagetitle" style="text-align: center;"><span
									style="color:rgba(235,26,95,1);">Achieve</span></h4>
						</div>
						
					</div>

				
				</div>

		

		</div>


	</div>
	
	<section class="ftco-section ">
		
			<div class="row justify-content-center pb-0">
				<div class="col-md-12 heading-section text-center ">

				</div>
			</div>
			<br>
	<br>
	<br>
			<div class="vbox wb_container" id="wb_main" style="top: 0px;">
				<div class="wb_cont_inner">
					
					
					<div id="wb_element_instance14" class="wb_element wb_element_picture" data-plugin="Picture" title=""><i
							class="fa fa-flash" style="color:#122059"></i></div>
					<div id="wb_element_instance15" class="wb_element wb_element_picture" data-plugin="Picture" title=""><i
							class="fa fa-plus" style="color:#122059"></i></div>
					<div id="wb_element_instance16" class="wb_element wb_element_picture" data-plugin="Picture" title=""><i
							class="fa fa-circle-thin" style="color:#122059"></i></div>
					<div id="wb_element_instance17" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<h2 class="wb-stl-heading2" style="text-align: center;"><span style="color:rgba(18,32,89,1);">Our
								story</span></h2>
					</div>
					<div id="wb_element_instance18" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<h2 class="wb-stl-heading2" style="text-align: center;"><span style="color:rgba(18,32,89,1);">Our
								vision</span></h2>
					</div>
					<div id="wb_element_instance19" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<h2 class="wb-stl-heading2" style="text-align: center;"><span
								style="color:rgba(18,32,89,1);">Technologies</span></h2>
					</div>
					<div id="wb_element_instance20" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<p class="wb-stl-normal" style="text-align: justify;">We just started writing our story.</p>
					</div>
					<div id="wb_element_instance21" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<p class="wb-stl-normal" style="text-align: justify;">Our vision is to bring lean innovation to your
							organization.</p>
					</div>
					<div id="wb_element_instance22" class="wb_element wb_text_element" data-plugin="TextArea"
						style=" line-height: normal;">
						<p class="wb-stl-normal" style="text-align: justify;">JAVA, .NET, PHP, Python, C#, CRM, SharePoint,
							MS Azure, AWS, JAVA Script, Angular JS, Node JS, HTML 5, Microsoft SQL Server, MySQL, Oracle.
						</p>
					</div>
					
				</div>
				
				</div>




		
	</section>


	{% endblock content1 %}