{% extends "base.html" %}
{% load static %}
{% block content1 %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/jobs/images/bg_3.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Privacy & Policy</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span>
          <span>Privacy & Policy<i class="fa fa-chevron-right"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container-fluid">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <br>
        <!-- <h2 class="mb-4">Privacy<span>Policy</span></h2> -->
        <div class="container" style="text-align:justify; color: black;">
          <br>
        <p>
          <strong>Privacy Policy</strong>
        </p>
        <p>
          This privacy policy (“Policy”) describes how the personally identifiable information (“Personal Information”)
          you may provide on the amanst.ca website (“Website” or “Service”) and any of it’s related products and
          services (collectively, “Services”) is collected, protected and used.&nbsp; It also describes the choices
          available to you regarding our use of your Personal Information and how you can access and update this
          information.&nbsp; This Policy is a legally binding agreement between you (“User”, “you” or “your”) and this
          Website operator (“Operator”, “we”, “us” or “our).&nbsp; By accessing and using the Website and Services, you
          acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement.&nbsp; This
          Policy does not apply to the practices of companies that we do not own or control, or to individuals that we
          do not employ or manage.
        </p>
        <br>
        <p>
          <strong>Automatic collection of Information</strong>
        </p>
        <p>
          Our top priority is customer data security and, as such, we exercise the no logs policy.&nbsp; We may process
          only minimal user data, only as much as it is absolutely necessary to maintain the Website and Services.&nbsp;
          Information collected automatically is used only to identify potential cases of abuse and establish
          statistical information regarding the usage and traffic of the Website and Services.&nbsp; This statistical
          information is not otherwise aggregated in such a way that would identify any particular user of the system.
        </p>
        <br>

        <p>
          <strong>Collection of personal information</strong>

        </p>
        <p>
          You can access and use the Website and Services without telling us who you are or revealing such information
          by which someone could identify you as a specific, identifiable individual.&nbsp; If, however, you wish to use
          some of the features on the Website, you my be asked to provide certain Personal Information (for example,
          your name and email address).&nbsp; We receive and store any information you knowingly provide to us when you
          fill in any forms on the Website.&nbsp; When required, this information may include contact information such
          as email address, address etc.
        </p>
        <p>
          Some of the information we collect is directly from you via the Website and Services.&nbsp; However, we may
          also collect Personal Information about you from other sources such as public databases and our joint
          marketing partners.&nbsp; You can choose not to provide us with your Personal Information, but then you may
          not be able to take advantage of some of the features on the Website.&nbsp; Users who are uncertain about what
          information is mandatory are welcome to contact us.
        </p>
        <br>

        <p><strong>Use and processing of collected information</strong></p>
        <p>
          In order to make the Website and Services available to you, or to meet legal obligation, we need to collect
          and use certain Personal Information.&nbsp; If you do not provide the information we request, we may not be
          able to provide you with the requested products or services.&nbsp; Any of the information we collect from you
          may be used for the following purposes:
        </p>
        <br>

        <ul>
          <li>Send administrative information</li>
          <li>Run and operate the Website and Services</li>
        </ul>
        <br>

        <p>Processing your Personal Information depends on how you interact with the Website and Services, where you are
          located in the world and if one of the following applies: (i) you have given your consent for one or more
          specific purposes; this, however, does not apply, whenever the processing of Personal Information is subject
          the California Consumer Privacy Act or European data protection law; (ii) processing is necessary for the
          performance of an agreement with you and/or for any pre-contractual obligations thereof; (iii) processing is
          necessary for compliance with legal obligation to which you are subject; (iv) processing is related to a task
          that is carried out in the public interest or in the exercise of official authority vested in us; (v)
          processing is necessary for the purposes of the legitimate interests pursued by us or by a third party.</p>
        <p>Note that under some legislations we may be allowed to process information until you object to such
          processing (by opting out), without having to rely on consent or any other of the following legal bases
          below.&nbsp; In any case, we will be happy to clarify the specific legal basis that applies to the processing,
          and in particular whether the provision of Personal Information is a statutory or contractual requirement, or
          a requirement necessary to enter into a contract.</p>
          <br>

        <p><strong>Disclosure of Information</strong></p>
        <p>Depending on the requested Services or as necessary to complete any transaction or provide any service you
          have requested, we may share your information with your consent with our trusted their parties that work with
          us, any other affiliates and subsidiaries we rely upon to assist in the operation of the Website and Services
          available to you.&nbsp; We do not share Personal Information with unaffiliated third parties.&nbsp; These
          service providers are not authorized to use or disclose your information except as necessary to perform
          services on our behalf or comply with legal requirements.&nbsp; We may share your Personal Information for
          these purposes on the third parties whose privacy policies are consistent with ours or who agree to abide by
          our policies with respect to Personal Information.&nbsp; These third parties are given Personal Information
          they need only in order to perform their designated functions, and we do not authorize them to use or disclose
          Personal Information for their own marketing or other purposes.</p>
        <p>We will disclose and Personal Information we collect, use or receive if required or permitted by law, such as
          to comply with a subpoena, or similar legal process, and when we believe in good faith that disclosure is
          necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to
          a government request.</p>
          <br>

        <p><strong>Retention of information</strong></p>
        <p>We will retain and use your Personal Information for the period necessary to comply with our legal
          obligations, resolve disputes, and enforce agreements unless a longer retention period is required or
          permitted by law.&nbsp; We may use any aggregated data derived from or incorporating your Personal Information
          after you update or delete it, but not in a manner that would identify you personally.&nbsp; Once the
          retention period expires, Personal Information shall be deleted.&nbsp; Therefore, the right to access, the
          right to erasure, the right to rectification and the right to data portability cannot be enforced after the
          expiration of the retention period.</p>
          <br>

        <p><strong>Transfer of information</strong></p>
        <p>Depending on your location, data transfers may involve transferring and storing your information in a country
          other than your own.&nbsp; You are entitled to learn about the legal basis of information transfers to a
          country outside of European Union or to any international organization governed by public international law or
          set up by two or more countries, such as the UN, and about the security measures taken by us to safeguard your
          information.&nbsp; If any such transfer take place, you can find out more by checking the relevant sections of
          this Policy or inquire with us using the information provided in the contract section.</p>
          <br>

        <p><strong>The right of users</strong></p>
        <p>You may exercise certain rights regarding your information processed by us.&nbsp; In particular, you have the
          right to do the following: (i) you have the right to withdraw consent where you have previously given your
          consent to the processing of your information; (ii) you have the right to object to the processing of your
          information if the processing is carried out on a legal basis other than consent; (iii) you have the right to
          learn if information is being processed by us, obtain disclosure regarding certain aspects of the processing
          and obtain a copy of the information undergoing processing;(iv) you have the right to verify the accuracy of
          your information and ask for it to be updated or corrected; (v) you have the right, under certain
          circumstances, to obtain the erasure of your Personal Information from us; (vii) you have the right to receive
          your information in a structured, commonly used and machine readable format and, if technically feasible, to
          have it transmitted to another controller without hinderance.&nbsp; This provision is applicable provided that
          your information is processed by automated means and that the processing is based on your consent, on a
          contract which you are part of or on pre-contractual obligations thereof.</p>
          <br>

        <p></p>
        <p><strong>The right to object to processing</strong></p>
        <p>Where Personal Information is processed for the public interest, in the exercise of an official authority
          vested in us for the purposes of the legitimate interests pursued by us, you may object to such processing by
          providing a ground related to your particular situation to justify objection.</p>
          <br>

        <p><strong>Data protection rights under GDPR</strong></p>
        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights and the
          Operator aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your
          Personal Information.&nbsp; If you wish to be informed what Personal Information we hold about you and if you
          want it to be removed from our systems, please contact us.&nbsp; In certain circumstances, you have the
          following data protection rights:</p>
          <br>

        <ul>
          <li>You have the right to request access to your Personal Information that we store and have the ability to
            access your Personal Information</li>
          <li>You have the right to request that we correct any Personal Information you believe is inaccurate. You also
            have the right to request us to complete the Personal Information you believe is incomplete.</li>
          <li>You have the right to request the erase of your Personal Information under certain conditions on this
            Policy</li>
          <li>You have the right to object to our processing of your Personal Information</li>
          <li>You have the right to seek restrictions on the processing of your Personal Information. When you restrict
            the processing of your Personal Information, we may store it but will not process it further.</li>
          <li>You have the right to be provided with a copy of information we have on you in structured, machine
            readable and commonly used format.</li>
          <li>You also have the right to withdraw your consent at any time with the Operator relied on your consent to
            process your Personal Information</li>
        </ul>
        <br>

        <p>You have the right to complain to a Data Protection Authority about our collection and use of your Personal
          Information.&nbsp; For more information, please contact your local data protection authority in the European
          Economic Area (EEA).</p>
          <br>

        <p><strong>California privacy rights</strong></p>
        <p>In addition to the rights as explained in the Policy, California residents who provide Personal Information
          (as defined in the statute) to obtain products or services for personal, family, or household use are entitled
          to request and obtain from us, once a calendar year, information about the Personal Information we shared, if
          any, with other businesses for marketing uses.&nbsp; If applicable, this information would include the
          categories of Personal Information and the names and addresses of those businesses with which we shared such
          personal information for the immediately prior calendar year (e.g., requests made in current year will receive
          information about the prior year).&nbsp; To obtain this information please contact us.</p>
          <br>

        <p><strong>How to exercise these rights</strong></p>
        <p>Any requests to exercise your rights can be directed to the Operator through the contact details provided in
          this document.&nbsp; Please note that we may ask you to verify your identity before responding to such
          requests.&nbsp; Your request must provide sufficient information that allows us to verify that you are the
          person you are claiming to be or that you are the authorized representative of such person.&nbsp; You must
          include sufficient details to allow us to properly understand the request and respond to it.&nbsp; We cannot
          respond to your request or provide you with Personal Information unless we first verify your identity or
          authority to make such a request and confirm that the Personal Information relates to you.</p>
          <br>

        <p><strong>Privacy of children</strong></p>
        <p>We do not knowingly collect any Personal Information from children under the age of 18.&nbsp; If you are
          under the age of 18, please do not submit any Personal Information through the Website and Services.&nbsp; We
          encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce this
          Policy by instructing their children never to provide Personal Information through Website and Services
          without permission.&nbsp; If you have reason to believe that a child under the age of 18 has provided Personal
          Information to us through the Website and Services, please contact us.&nbsp; You must also be at least 16
          years of age to consent to the processing of your Personal Information in your country (in some countries we
          may allow your parent or guardian to do so on your behalf).</p>
          <br>

        <p><strong>Cookies</strong></p>
        <p>The Website and Service use ‘cookies’ to help personalize your online experience.&nbsp; A cookie is a text
          file that is placed on your hard disk by a web page server.&nbsp; Cookies cannot be used to run programs or
          deliver viruses to your computer.&nbsp; Cookies are uniquely assigned to you, and can only be read by a web
          server domain that issued that cookie to you.</p>
        <p>We may use cookies to collect, store, and track information for statistical purposes to operate the Website
          and Services.&nbsp; You have the ability to accept or decline cookies.&nbsp; Most web browsers automatically
          accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.&nbsp; To
          learn more about cookies and how to manage them, visit internetcookies.org</p>
          <br>

        <p><strong>Do Not Track Signals</strong></p>
        <p>Some browsers incorporate a Do Not Track feature that signals to websites you visit that you do not want to
          have your online activity tracked.&nbsp; Tracking is not the same as using or collecting information in
          connection with a website.&nbsp; For these purposes, tracking refers to collecting personally identifiable
          information from consumers who use a visit a website or online service as they move across different websites
          over time.&nbsp; How browsers communicate the Do Not Track signal is not yet uniform.&nbsp; As a result, the
          Website and Services are not yet set up to interpret or respond to Do Not Track signals communicated by your
          browser.&nbsp; Even so, as described in more detail throughout this Policy, we limit our use and collection of
          your personal information.</p>
          <br>

        <p><strong>Link to other resources</strong></p>
        <p>The Website and Services contain links to other resources that are not owned or controlled by us.&nbsp;
          Please be aware that we are not responsible for the privacy practices of such other resources or third
          parties.&nbsp; We encourage you to be aware when you leave the Website and Services and to read the privacy
          statements of each and every resource that may collect Personal Information.</p>
          <br>

        <p><strong>Information Security</strong></p>
        <p>We secure information you provide on computer servers in a controlled, secure environment, protected from
          unauthorized access, use, or disclosure.&nbsp; We maintain reasonable administrative, technical, and physical
          safeguards in an effort to protect against unauthorized access, use, modification, and disclosure of Personal
          Information in its control and custody.&nbsp; However, no data transmission over the Internet or wireless
          network can be guaranteed.&nbsp; Therefore, while we strive to protect your Personal Information, you
          acknowledge that (i) there are security and privacy limitations of the Internet which are beyond our control;
          (ii) the security, integrity, and privacy of any and all information and data exchanged between you and the
          Website and Services cannot be guaranteed; and (iii) any such information and data may be viewed or tampered
          with in transit by a third party, despite best efforts.</p>
          <br>

        <p><strong>Data Breach</strong></p>
        <p>In the event we become aware that the security of the Website and Services has been compromised or users
          Personal Information has been disclosed to unrelated third parties as a result of external activity,
          including, but not limited to, security attacks or fraud, we reserve the right to take reasonably appropriate
          measures, including, but not limited to, investigation and reporting, as well as notification to and
          cooperation with law enforcement authorities.&nbsp; In the event of a data breach, we will make reasonable
          efforts to notify affected individuals if we believe that there is a reasonable risk of harm to the user as a
          result of the breach or it notice is otherwise required by law.&nbsp; When we do, we will send you an email.
        </p>
        <br>

        <p><strong>Changes and amendments</strong></p>
        <p>We reserve the right to modify this Policy or its terms relating to the Website and Services from time to
          time in our discretion and will notify you of any material changes to the way in which we treat Personal
          Information.&nbsp; When we do, we will revise the updated date at the bottom of this page.&nbsp; We may also
          provide notice to you in other ways in our discretion, such as through contact information you have
          provided.&nbsp; Any updated version of this Policy will be effective immediately upon the posting of the
          revised Policy unless otherwise specified.&nbsp; Your continued use of the Website and Services after the
          effective date of the revised Policy (or such other act specified at that time) will constitute your consent
          to those changes.&nbsp; However, we will not, without consent, use your Personal Information in a manner
          materially different that what was stated at the time your Personal Information was collected.&nbsp; Policy
          was created with Website policies.</p>
          <br>

        <p><strong>Acceptance of this policy</strong></p>
        <p>You acknowledge that you have read this Policy and agree to all its terms and conditions.&nbsp; By accessing
          and using the Website and Services you agree to be bound by this Policy.&nbsp; If you do not agree to abide by
          the terms of this Policy, you are not authorized to access or use the Website and Services.</p>
          <br>

        <p><strong>Contacting us</strong></p>
        <p>If you would like to contact us to understand more about this Policy or wish to contact us concerning any
          matter relating to individual rights and your Personal Information, you may do so via the contact form.</p>
        </div>
        <br>
        <br>
        <br>


        {% endblock content1 %}