{% extends "base.html" %}
{% load static %}
{% block content1 %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/jobs/images/bg_contact.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Terms and Conditions</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="fa fa-chevron-right"></i></a></span>
                    <span>Terms and Conditions<i class="fa fa-chevron-right"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <br>
                <!-- <h2 class="mb-4">Privacy<span>Policy</span></h2> -->
                <div class="container" style="text-align:justify; color: black;">
                    <br>
                    <h1>Terms and Conditions</h1>
                    <p>Last updated: May 30, 2021</p>
                    <p>Please read these terms and conditions carefully before using Our Service.</p>
                    <h1>Interpretation and Definitions</h1>
                    <h2>Interpretation</h2>
                    <p>The words of which the initial letter is capitalized have meanings defined under the following
                        conditions. The following definitions shall have the same meaning regardless of whether they
                        appear in singular or in plural.</p>
                    <h2>Definitions</h2>
                    <p>For the purposes of these Terms and Conditions:</p>
                    <ul>
                        <li>
                            <p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under
                                common control with a party, where &quot;control&quot; means ownership of 50% or more of
                                the shares, equity interest or other securities entitled to vote for election of
                                directors or other managing authority.</p>
                        </li>
                        <li>
                            <p><strong>Country</strong> refers to: Canada</p>
                        </li>
                        <li>
                            <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;,
                                &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to AMANST Inc.</p>
                        </li>
                        <li>
                            <p><strong>Device</strong> means any device that can access the Service such as a computer,
                                a cellphone or a digital tablet.</p>
                        </li>
                        <li>
                            <p><strong>Service</strong> refers to the Website.</p>
                        </li>
                        <li>
                            <p><strong>Terms and Conditions</strong> (also referred as &quot;Terms&quot;) mean these
                                Terms and Conditions that form the entire agreement between You and the Company
                                regarding the use of the Service.</p>
                        </li>
                        <li>
                            <p><strong>Third-party Social Media Service</strong> means any services or content
                                (including data, information, products or services) provided by a third-party that may
                                be displayed, included or made available by the Service.</p>
                        </li>
                        <li>
                            <p><strong>Website</strong> refers to AMANST, accessible from <a href="www.amanst.ca"
                                    rel="external nofollow noopener" target="_blank">www.amanst.ca</a></p>
                        </li>
                        <li>
                            <p><strong>You</strong> means the individual accessing or using the Service, or the company,
                                or other legal entity on behalf of which such individual is accessing or using the
                                Service, as applicable.</p>
                        </li>
                    </ul>
                    <h1>Acknowledgment</h1>
                    <p>These are the Terms and Conditions governing the use of this Service and the agreement that
                        operates between You and the Company. These Terms and Conditions set out the rights and
                        obligations of all users regarding the use of the Service.</p>
                    <p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with
                        these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others
                        who access or use the Service.</p>
                    <p>By accessing or using the Service You agree to be bound by these Terms and Conditions. If You
                        disagree with any part of these Terms and Conditions then You may not access the Service.</p>
                    <p>You represent that you are over the age of 18. The Company does not permit those under 18 to use
                        the Service.</p>
                    <p>Your access to and use of the Service is also conditioned on Your acceptance of and compliance
                        with the Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures
                        on the collection, use and disclosure of Your personal information when You use the Application
                        or the Website and tells You about Your privacy rights and how the law protects You. Please read
                        Our Privacy Policy carefully before using Our Service.</p>
                    <h1>Links to Other Websites</h1>
                    <p>Our Service may contain links to third-party web sites or services that are not owned or
                        controlled by the Company.</p>
                    <p>The Company has no control over, and assumes no responsibility for, the content, privacy
                        policies, or practices of any third party web sites or services. You further acknowledge and
                        agree that the Company shall not be responsible or liable, directly or indirectly, for any
                        damage or loss caused or alleged to be caused by or in connection with the use of or reliance on
                        any such content, goods or services available on or through any such web sites or services.</p>
                    <p>We strongly advise You to read the terms and conditions and privacy policies of any third-party
                        web sites or services that You visit.</p>
                    <h1>Termination</h1>
                    <p>We may terminate or suspend Your access immediately, without prior notice or liability, for any
                        reason whatsoever, including without limitation if You breach these Terms and Conditions.</p>
                    <p>Upon termination, Your right to use the Service will cease immediately.</p>
                    <h1>Limitation of Liability</h1>
                    <p>The information contained on this Site including any salary information or surveys are given in
                        good faith and AMANST uses all reasonable efforts to ensure that it is accurate. However, AMANST
                        gives no representation or warranty in respect of such information and all such representations
                        and warranties, whether express or implied, are excluded.</p>
                    <p>No liability is accepted by AMANST for any loss or damage which may arise out of any person
                        relying on or using any information on this Site. AMANST shall not be liable to any person
                        relying on or using any such information for (a) loss of revenue, loss of actual or anticipated
                        salary; loss of actual or anticipated profits whether arising in the normal course of business
                        or otherwise (including, without limitation, loss of profits on contracts); loss of or damage to
                        employment prospects; loss of opportunity; loss of the use of money; loss of anticipated
                        savings; loss of business; loss of goodwill; loss of or damage to reputation; loss of or
                        corruption to data; loss of management or administration time, legal and other professional fees
                        and expenses; or (b) any indirect or consequential loss or damages however caused (including
                        without limitation by reason of misrepresentation, negligence, other tort, breach of contract or
                        breach of statutory duty) which arise directly or indirectly from the subject matter of this
                        Site. However, nothing in the above shall limit or exclude AMANST’ liability for fraud or for
                        death or personal injury caused by negligence, or to the extent otherwise not permitted by law.
                    </p>
                    <p>You agree fully to indemnity us and keep us fully indemnified against all costs, expenses,
                        claims, losses, liabilities or proceedings arising from use or misuse by you of this Site.</p>
                    <p>We do not guarantee that any employer or client will ask for a candidate’s information, or will
                        interview or hire a candidate, or that any candidates will be available or will meet the needs
                        of any employer or client. We make no representation or warranty as to the final terms and
                        duration of any appointment obtained through this Site. Whilst we take all reasonable endeavours
                        to ensure it is the case, we do not guarantee that any employer or client will keep confidential
                        any candidate information or data provided to them.</p>
                    <p>If any provision of these terms and conditions is held to be invalid by a court of competent
                        jurisdiction, such invalidly shall not affect the validly of the remaining provisions, which
                        shall remain in full force and effect.</p>
                    <h1>Disputes Resolution</h1>
                    <p>If You have any concern or dispute about the Service, You agree to first try to resolve the
                        dispute informally by contacting the Company.</p>
                    <h1>Changes to These Terms and Conditions</h1>
                    <p>We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a
                        revision is material We will make reasonable efforts to provide at least 30 days' notice prior
                        to any new terms taking effect. What constitutes a material change will be determined at Our
                        sole discretion.</p>
                    <p>By continuing to access or use Our Service after those revisions become effective, You agree to
                        be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please
                        stop using the website and the Service.</p>
                    <h1>Contact Us</h1>
                    <p>If you have any questions about these Terms and Conditions, You can contact us:</p>
                    <ul>
                        <li>By email: info@amanst.ca</li>
                    </ul>



                </div>
                <br>
                <br>
                <br>


                {% endblock content1 %}